html,body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(40, 49, 54);
}

a {
  text-decoration: none;
}



.main-header {
    background-color: #eeeeee;
}

.main-site h1 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    background-color: #eeeeee;
    text-align: center;


}

.main-navigation a   {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}

.site-navigation,
.user-basket {
  list-style: none;
  text-align: center;
}

.site-navigation a:hover,
.user-basket a:hover {
    color: #f18578;
}

.site-navigation a:focus,
.user-basket a:focus {
    color: #cbbdbd;

}

.nerds-logo  a:focus {
    color: #cbbdbd;
}

.nerds-logo  a:hover {
    color: #161414
}

.main-slogans p {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
}

.filter-list,
.features-list,
.catalog-sorting,
.catalog-item,
.pagination-list,
.social-button,
.orders ul  {
     list-style: none;
}

.services h3 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.about-us-slogan {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.table-about-us {
    text-align: right;
}

.our-slogan,
.orders {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

 th {
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}

.friends {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

legend {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.catalog legend {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.slogan-of-friendship {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    text-align: center;
}

.discount {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}
