html,body {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(40, 49, 54);

}

a {
  text-decoration: none;
}



.main-header {
    background-color: #eeeeee;

}

.main-site h1 {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    background-color: #eeeeee;
    text-align: center;


}

.main-navigation a   {
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.main-site {
    background-color: #eeeeee;
}

.nerds-logo:hover,
.nerds-logo:focus {
    opacity: 0.8;
}

.nerds-logo:active {
    opacity: 0.3;
}

.site-navigation {

  list-style: none;
  text-align: center;
  background-color: #eeeeee;
}

.site-navigation a:hover,
.user-basket a:hover {
    color: #f18578;
}

.site-navigation a:focus,
.user-basket a:focus {
    color: #cbbdbd;

}

.nerds-logo  a:focus {
    color: #cbbdbd;
}

.nerds-logo  a:hover {
    color: #161414
}

.button-red {
    display: block;
    padding: 10px 30px 10px 30px;
    width: 130px;

    color: #ffffff;

    background-color: #fb565a;
}

.button-red:hover,
.button-red:focus  {
    background-color: #e74246;
}

.button-red:active {
    background-color: #d7373b;
    color: rgba(250, 250, 250, 0.3);
}

.logo-our-friends {
    opacity: 0.2;
}

.logo-our-friends:hover,
.logo-our-friends:focus {
    opacity: 1;
}

.logo-our-friends:active {
    opacity: 0.1;
}



.order-button-red,
.order-button-green,
.order-button-yellow {
    display: block;
    padding: 10px 20px 10px 20px;
    width: 80px;

    color: #ffffff;
}

.order-button-red {
    background-color: #fb565a;
}

.order-button-green {
    background-color: #00ca74;
}

.order-button-yellow {
    background-color: #efc84a;
}

.order-button-red:hover,
.order-button-red:focus {
    background-color: #e74246;
}

.order-button-red:active {
      background-color: #d7373b;
      color: rgba(250, 250, 250, 0.3);
}

.order-button-green:hover,
.order-button-green:focus {
    background-color: #00bc6c;
}

.order-button-green:active {
    background-color: #00aa62;
    color: rgba(250, 250, 250, 0.3);
}


.order-button-yellow:hover,
.order-button-yellow:focus {
    background-color: #eab534 ;
}

.order-button-yellow:active {
    background-color: #e5a722;
    color: rgba(250, 250, 250, 0.3);
}

.cost-product {
  display: block;
  padding: 10px 30px 10px 30px;
  width: 80px;

  color: #ffffff;

  background-color: #fb565a;
}

.cost-product:hover,
.cost-product:focus  {
    background-color: #e74246;
}

.cost-product:active {
    background-color: #d7373b;
    color: rgba(250, 250, 250, 0.3);
}

.filter-button {
  display: block;
  padding: 10px 30px 10px 30px;
  width: 100px;

  color: #000000;

  background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus  {
    background-color: #dfdfdf;
}

.filter-button:active {
    background-color: #d5d5d5;
    color: rgba(149, 149, 149, 0.3);
}

.next {
  display: block;
  padding: 10px 30px 10px 30px;
  width: 100px;

  color: #000000;

  background-color: #eeeeee;
}

.next:hover,
.next:focus  {
    background-color: #dfdfdf;
}

.next:active {
    background-color: #d5d5d5;
    color: rgba(149, 149, 149, 0.3);
}

.main-slogans p {
    font-size: 55px;
    line-height: 55px;
    color: #000000;
    margin-top: 0;
}

.filter-list,
.features-list,
.catalog-sorting,
.catalog-item,
.pagination-list,
.social-button,
.orders ul  {
     list-style: none;
}

.services h3 {
    font-size: 24px;
    line-height: 30px;
    color: #000000;
}

.about-us-slogan {
    font-size: 45px;
    line-height: 45px;
    color: #000000;
}

.table-about-us {
    text-align: right;
}

.our-slogan,
.orders {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

 th {
  font-size: 45px;
  line-height: 10px;
  color: #000000;
}

.friends {
  font-size: 36px;
  line-height: 36px;
  color: #000000;
}

legend {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}

.catalog legend {
    font-size: 18px;
    line-height: 18px;
    color: #000000;
}

.slogan-of-friendship {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    text-align: center;
}

.discount {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

/*Сеточные стили*/

html,
body {
    min-width: 1122px;
    min-height: 1750px;


}



.main-header .container {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;


}

.main-navigation {
    outline: 1px solid red;
}

.container {


  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

}

.site-navigation {
    display: flex;
    justify-content: space-between;
    width: 440px
}

.container-services {
    display: flex;
    margin-top: 77px;

}

.services {
    display: flex;
    
}

.about-us {

    margin-bottom: 77px;
}
